
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">

<ion-header>
    <ion-toolbar>
        <ion-buttons slot="end">
            <ion-menu-button>
            </ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="fondo">
    <section class="cat">
        <div class="cat-contenedor"><p>{{nameCategorie}}</p></div>

    </section>

<section class="cont-slides">
    <swiper-container
[pagination]="true" [slidesPerView]="2">

    <swiper-slide *ngFor="let slide of event_List_locales">
        <div class="slides1">
            <img class="img-slide" src={{slide.image}} alt="">
        </div>
    </swiper-slide>
</swiper-container>

<div class="div-eventos">
    <p>EVENTOS</p>
</div>

<section class="cont-eventos">
    <!--aqui van las tarjetas de eventos-->
    <ng-container *ngFor="let card of event_List_locales" >
        <div *ngIf="(card.category_id==2)">
        <ion-card>
            <img alt="Silhouette of mountains" src="{{card.image}}" />
            <ion-card-header>
              <ion-card-title>{{card.name}}</ion-card-title>
              <ion-card-subtitle> Lugar: {{card.city}} <br>Direccion: {{card.address}}</ion-card-subtitle>
            </ion-card-header>
          
            <ion-card-content>
            <p> {{card.description}}</p>
            </ion-card-content>
          </ion-card>
        </div>
    </ng-container>
</section>
</section>
  </ion-content>