<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
<ion-header [translucent]="true">


</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">

  </ion-header>

  <swiper-container [loop]="true" [pagination]="true" [slidesPerView]="1">


    <swiper-slide id="slide_inicio">
      <section>
        <div class="div_titulo">
          <h1 class="titulo_inicio">BIENVENIDOS</h1>
        </div>
      </section>
      <section class="logo">
        <img class="imagen_logo" src="assets\img\app_logo.svg" />
      </section>
      <section class="position">
        <img class="hincha" src="assets\img\hincha3.png" />
        <img class="hincha" src="assets\img\hincha2.png" />
        <img class="hincha" src="assets\img\hincha1.png" />
      </section>


    </swiper-slide>
    <swiper-slide class="slides">Slide 2</swiper-slide>
    <swiper-slide>Slide 3</swiper-slide>
    <swiper-slide>Slide 4</swiper-slide>
    <swiper-slide>Slide 5</swiper-slide>
    <swiper-slide>Slide 6</swiper-slide>
  </swiper-container>


</ion-content>